*{
    margin: 0;
    padding: 0;
}

.pucLogo{
    display: flex;
    height: 15rem;
    width: 15rem;
    margin: auto;
    animation-delay: 4s;
    animation: fadeInRight 2s ease-in-out;
}

@keyframes fadeInRight {
    from{
        opacity: 0;
        transform: translateY(-50px);
    } to {
        opacity: 1;
    }
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeInDown 2s forwards;
    animation-delay: 2s;
    opacity: 0;
    color: white;
}

@keyframes fadeInDown {
    from{
        opacity: 0;
        transform: translateY(50px);
    } to {
        opacity: 1;
    }
}

.start{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: white;
    justify-content: center;
    margin-top: 30px;
    opacity: 0;
    animation: forwards 1s appear;
    animation-delay: 5s;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}